* {
    box-sizing: border-box;
}

.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

header {
    background-color: #333333;
    height: 3em;
    margin-bottom: 1em;
}

header .container::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#title-header {
    color: #FFFFFF;
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
}

section {
    margin: 2em 0;
}

section h2 {
    font-size:3em;
    display: block;
    padding-bottom: .5em;
    border-bottom: 1px solid #CCC;
    margin-bottom: .5em;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    font-weight: bold;
    background-color: #EEE;
}

td, th {
    padding: .7em;
    margin: 0;
    border: 1px solid #CCC;
    text-align: center;
}

label {
    color: #555;
    display: block;
    margin-bottom: .2em;
}

.input-form {
    margin: 0;
    padding-bottom: 1em;
    width: 100%;
    border: 1px solid #CCC;
    padding: .7em;
}

.form {
    display: inline-block;
    width: 32%;
    padding: 10px 0px;

}

button {
    padding: .5em 2em;
    border: 0;
    border-bottom: 3px solid;
    margin: 0;
    color: #FFF;
	background-color:#0c8cd3;
	border-color: #04324c;
    width: 20%;
    display: block;
    margin: 10px 0px;
    font-size: 1.2em;
    cursor: pointer;
}

button:active {
    margin-top: 0px;
    border: 0;
}

.invalid-patient {
    background-color: lightcoral;
}

.invalid-input {
    border: 1px solid red;
}

.fadeOut {
    opacity: 0;
    transition: 0.5s;
}

#patient-finder {
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}
